server:
  port: 8080
  
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
    hibernate:
      #use-new-id-generator-mappings: true
      #ddl-auto: update
      ddl-auto: create-drop
    generate-ddl: true
    #show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

#  messages:
#    basename: messages/message
#    encoding: UTF-8
    
logging:
  #file: logs/dev_app.log
  pattern:
    console: "%d %-5level %logger : %msg%n"
    #file: "%d %-5level [%thread] %logger : %msg%n"
  level:
    com.jang: debug
    org.hibernate: info
    org.springframework: debug
    egovframework: debug
    #org.springframework.web: DEBUG
    #com: debug