<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>sample list</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        /*html{position:relative;min-height:100%;}*/
        body{
            margin-bottom:60px;
        }

        body > .container{
            padding:60px 15px 0;
        }
    </style>
    <script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    function sampleGetByJquery(v) {
        /*[+
        var url = [[@{/my/get/url(var1=${#httpServletRequest.getParameter('var1')})}]] 
                  + "&var2="+v;
         +]*/
        $("#myPanel").load(url, function() {});
    }
    /*]]>*/
  

    jQuery(document).ready(function(){

    	$("#btnDelete").click(function(){
    		
    		if(confirm("삭제하시겠습니까?")){
    			//$("#frmDataForm").attr('action','/sample/delete/'+ $("#frmDataForm [name=id]").val());
    			//alert( $("#frmDataForm").attr('action') );
    			//$("#frmDataForm").submit();
    			//return;
    			
    			
    			jQuery.ajax({
    	            type:"delete",
    	            url:[[@{/sample/delete/}]]+$("#frmDataForm [name=id]").val(),
    	            data:{},
    	            dataType:'text',
    	            timeout:(1000*30),
					success : function(data) {
						
						console.log(data);
						console.log("success");
						console.log(data.responseText);
						//console.log(data.responseText);
						location.href=[[@{/sample/list}]];
					},
					complete : function(data) {
						console.log("complete");
					},
					error:function(xhr, status, error) {
						console.log("error");
					}



    	            /*
    	            success:function(data){
	            	console.debug("111111");
	            	
	            	//console.log(html.responseText);
	               
	            }
    	            success:function(returnData, status){
    	            	console.debug(status);
    	                if(status == "success") {
    	                   
    	                	location.href=[[@{/sample/list}]];
    	                   
    	                }else{ alert("ERROR!");return;}
    	            }
    	            */
    	        });
    			
    			return;
    		}

    		
    		//$("#frmDataForm").submit();
    		
    	});
    	
    	$("#btnList").click(function(){
    		///sample/regist
    		//location.href=[[@{/my/get/url(var1=${#httpServletRequest.getParameter('var1')})}]];
    		location.href=[[@{/sample/list}]];
    		
    		
    	});
    });
    
    function fnFormRest(cmd){
    	$("#frmDataForm").trigger("reset");
    }
    
    function fnFormTestDataInput(){
    	//$("#txtName").val("1111");
    	//$("#frmDataForm>[name=useYn]").val("Y");
    	
    	//console.debug($("#frmDataForm"));
    	//console.log( $("#frmDataForm").attr('action') );
    	console.log( $("#frmDataForm [name=name]").val("Development Environment") );
    	console.log( $("#frmDataForm [name=selUseYn]").val("Y") );
    	console.log( $("#frmDataForm [name=description]").val("Batch Layer") );
    	console.log( $("#frmDataForm [name=regUser]").val("jang") );
    	
    	/*
    	alert( $("#txtName").val() );
    	alert( $("#frmDataForm").action );
    	$("#frmDataForm>[name=description]").val("description");
    	$("#frmDataForm>[name=regUser]").val("regUser");
    	*/
    }
    </script>
   
</head>
<body>
<!-- 
<div>
    <div th:with="value1='99999',  value2=false" th:text="|${value1} , ${value2}|"  ></div>
    <div th:with="value1='88888',  value2=true" th:text="|${value1} , ${value2}|"  ></div>
    <div th:text="|${value1} , ${value2}|"></div>
    <div th:with="var1=${value1},  var2=${value2},  var3=true,  var4='TEST중',  var5=1111"  >
        <div th:if="${var3} == true" th:text="|${var1} , ${var2}, ${var3} , ${var4} , ${var5}|" > </div>
    </div>
</div>
 -->

<div class="container">

    <div class="page-header" th:with="page_title='sample detail'">
       <h1 th:if="${page_title} == 'sample detail'" th:text="${page_title}"></h1>
    </div>

    <div id="page-content">
    <!-- form action="#" th:action="@{/saveStudent}" th:object="${student}" method="post" -->
		<form id="frmDataForm" name="dataFrom" th:action="@{/sample/delete/{id}(id=${sample.id})}" th:method="delete">
        <table class="table table-sm table-bordered">
            <thead>
				<colgroup>
					<col width="150px" />
					<col/>
				</colgroup>
            </thead>
           <tbody>
           <tr scope="row">
                <th>카테고리명</th>
                <td th:text="${sample.name}"></td>
            </tr>
        	 <tr scope="row">
                <th>사용여부</th>
                 <td th:text="${sample.useYn}"></td>
            </tr>
        	 <tr scope="row"> 
                <th>Description</th>
                <td th:text="${sample.description}"></td>
            </tr>
        	<tr scope="row">
                <th>등록자</th>
                <td th:text="${sample.regUser}"></td>
            </tr>
            </tbody>
        </table>
        <!--  <input type="hidden" th:value="${sample.id}" th:attr="name='id'" />  -->
        <input type="hidden" th:value="${sample.id}" th:attr="name='id'" />
        

        
        </form>
    </div>
</div>
<br/>
 <div style="width:100%;margin:10px 0;">
     <center>
     	<button type="button" id="btnDelete" class="btn btn-info">삭제</button>
     	<button type="button" id="btnList" class="btn btn-success">목록</button>
     	
     	
     </center>
     
 </div>


</body>
</html>